<div class="f-info">
    <div class="f-info-socials">
        <!-- <i class="fa-brands fa-facebook-f"></i> -->
        <a href='https://www.facebook.com/profile.php?id=100025366245461'><i class="fa-brands fa-square-facebook"></i></a>
        <a href='https://www.instagram.com/im.your.vamsi/'><i class="fa-brands fa-square-instagram"></i></a>
        <!-- <i class="fa-brands fa-instagram"></i> -->
        <a href='https://www.linkedin.com/in/vamsi-peela-453427303/'><i class="fa-brands fa-linkedin"></i></a>
        <!-- <i class="fa-brands fa-linkedin-in"></i> -->
    </div>
    <div class="f-info-brand">
        &copy;VMKS Travels Private Limited
    </div>
    <div class="f-info-links">
        <a href="#">Privacy</a>
        <a href="#">Terms</a>
    </div>
</div>