.nav-link{
    color:#222222 !important;
}
.sticky-top{
    background-color:#A0BFCE !important;
}
#navbar{
    background-color:#A0BFCE !important;
}
#front,#crd{
    background-color: #F1EFEC !important;
}
.navbar{
    font-size: 1.25rem !important;
    position: sticky !important;
    top:0;
}
.fa-regular.fa-compass{
    color:#fe424d !important;
    font-size: 1.25rem !important;
} 
.f-info-socials a i{
    color:#222222 !important;
    font-size: 1.25rem;
    margin-right: 0.45rem;
}
.f-info-socials,.f-info-links{
    display: flex;
    width: 100%;
    padding: 0;
    align-items:center;
    justify-content: center;
    background-color:#A0BFCE !important;
}
.f-info-links a{
    text-decoration:none !important;
    color:#222222 !important;
    margin-right: 0.25rem;
}
.f-info-links a:hover{
    text-decoration: underline !important;
}
.f-info{
    align-items:center;
    justify-content: center;
    align-items:space-evenly;
    display:flex;
    flex-wrap:wrap;
    height:3rem;
    background-color:#A0BFCE !important;
    position:relative bottom !important;
    width:100%;
}
.front{
    border: none !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-wrap: nowrap !important;
    margin-right:7px ;
}
.card-link{
    text-decoration: none;
    width: 100% !important;
}
.card-img-overlay{
    opacity:0 !important;
}
.card-img-overlay:hover{
    opacity:0.25 !important;
    background-color: white;
}
body{
    background-color: #F1EFEC !important;
    font-family: "plus Jakarta Sans",sans-serif !important;
    min-height:100vh;
    display: flex;
    flex-direction: column;
}
.container{
    flex: 1;
}
.head{
    align-items: center !important;
    justify-content: center !important;
}
.color{
    background-color:#fe424d !important;
    border:none !important;
    width: 5rem !important;
    margin-right: 5rem !important;
    padding-left: -5rem !important;
}
.card-image{
    height:30vh;
    min-width :300px;
    /* max-width: 18rem; */
    /* margin-left: 10%; */
    margin-right: 10%;
    margin:0 auto;
    display: block;
}
.card-text{
    justify-content: center !important;
    align-items: center !important;
    margin:auto ;
}
.card-body{ 
    align-items: center !important;
    justify-content: center !important;
}
.list a{
    text-decoration: none !important;
}
.butns{
    justify-content: space-evenly !important;
    align-items:start !important;
    display: flex !important;
    flex-direction: row !important;
    margin:10px auto !important;
    padding-left: -10rem !important;
}
.del{
    margin-left: 5rem !important;
}

#map { 
    height: 400px;
    width: 80vh;
 }
